Package: libnginx-mod-http-auth-pam-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 58
Depends: libnginx-mod-http-auth-pam (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-auth-pam
Build-Ids: 4b6f2bfb1353f1a731a64cbcb4d6ca41123d0519
