Package: libnginx-mod-http-geoip
Source: nginx
Version: 1.14.2-2+deb10u1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 131
Depends: nginx-common (= 1.14.2-2+deb10u1), libc6 (>= 2.14), libgeoip1
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: GeoIP HTTP module for Nginx
 The ngx_http_geoip module creates variables with values depending on the
 client IP address, using the precompiled MaxMind databases.
 .
 Those variables include country, region, city, latitude, longitude, postal
 code, etc.
