Package: libnginx-mod-rtmp-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 664
Depends: libnginx-mod-rtmp (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-rtmp
Build-Ids: 173a9404ba77ff5db009ac7f4ee122aed520555a
