Package: libnginx-mod-http-echo-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 285
Depends: libnginx-mod-http-echo (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-echo
Build-Ids: 0d72813e66fffb0cacf262be65b8fd47f776ff4d
