Package: libnginx-mod-http-cache-purge-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 64
Depends: libnginx-mod-http-cache-purge (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-cache-purge
Build-Ids: 3293585df5e91666e8a10ba52db44bb9831d743e
