Package: libnginx-mod-mail-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 200
Depends: libnginx-mod-mail (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-mail
Build-Ids: d4dcc29be488a8b654be03ab103d84860ab13077
