Package: libnginx-mod-http-headers-more-filter-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 128
Depends: libnginx-mod-http-headers-more-filter (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-headers-more-filter
Build-Ids: 4f7b61230036a88b58aa4724c9ace49b5b839c58
