Package: libnginx-mod-nchan-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 1342
Depends: libnginx-mod-nchan (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-nchan
Build-Ids: c24ccda4e68d2e228a4289a635e1e8818ba08fb8
