Package: libnginx-mod-http-subs-filter-dbgsym
Source: nginx
Version: 1.14.2-2+deb10u1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 63
Depends: libnginx-mod-http-subs-filter (= 1.14.2-2+deb10u1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-subs-filter
Build-Ids: fb38c54b4fdc6843922cedc785a45169a2155656
